.card {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-color: #DBE0E4;
    /* border: none; */
    margin-bottom: 30px;
}
.card > .table tr:first-child td,
.card > .table tr:first-child th {
    border-top: 0;
}
.card > .table thead th {
    border-width: 1px;
}
.card-footer .pagination {
    margin-bottom: 0;
}

.table td, .table th {
    padding: 10px 15px;
}